
<input type="hidden" name="payment_id" value="{{ payment.id }}>" />
<input type="hidden" name="invoice" value="{{ payment.id }}" />
<input type="hidden" name="total" value="{{ gateway.total_amount }}" />
<input type="hidden" name="email" value="{{ user.email }}" />
<input type="hidden" name="user_id" value="{{ user.id }}" />

{% set converter_amount = converter.buying|default(1) %}

{% if (user.total * converter_amount) >= gateway.total_amount  %}

    <div class="text-center bg-green">
        <h4>
            Your Balance is as shown below.  <br>
            Total Available Amount is {{ (user.total * converter.buying|default(1))|number_format(2) }}  {{ converter.code }}
        </h4>
    </div>

    <center>
        <a class="process-payment" href="#" title="Pay with Wallet">
            <button class="btn btn-success btn-flat btn-sm" type="submit">
                <i class="fa fa-arrow-right"></i>
                Pay from Wallet
            </button>

        </a>
       
    </center>
{% else %}
    <div class="no-record bg-red text-center">
        You Do not have money on your account. Click <b>"Deposit to Wallet"</b> in order to pay.
        <br>
        Total Available Amount is {{ user.total * converter.buying|default(1) }} {{ converter.code }}
        <br>
        <a class="btn btn-warning" href="{{ generate_url('payments.deposits.add') }}">
            <i class="fa fa-plus"></i>
            Top Up Your Account
        </a>
    </div>
{% endif %}
